<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="dog_asm2">
  <link
    name="Body">
    <inertial>
      <origin
        xyz="0.00138 8.263E-08 0.023473"
        rpy="0 0 0" />
      <mass
        value="15.156" />
      <inertia
        ixx="0.094082"
        ixy="-2.6571E-07"
        ixz="-0.0015648"
        iyy="0.33465"
        iyz="4.4097E-09"
        izz="0.38795" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog_asm2/meshes/Body.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog_asm2/meshes/Body.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="ShoulderLF">
    <inertial>
      <origin
        xyz="-3.9581E-08 -0.0016347 0.0009406"
        rpy="0 0 0" />
      <mass
        value="0.71324" />
      <inertia
        ixx="0.00098521"
        ixy="-3.857E-10"
        ixz="-5.2743E-10"
        iyy="0.0010271"
        iyz="-1.0977E-06"
        izz="0.0008053" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog_asm2/meshes/ShoulderLF.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog_asm2/meshes/ShoulderLF.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="JShoulderLF"
    type="revolute">
    <origin
      xyz="0.29653 0.09 0.045"
      rpy="0 -1.5708 0" />
    <parent
      link="Body" />
    <child
      link="ShoulderLF" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LegUpLF">
    <inertial>
      <origin
        xyz="0.14026 -1.4694E-09 -0.049588"
        rpy="0 0 0" />
      <mass
        value="1.8015" />
      <inertia
        ixx="0.0018561"
        ixy="2.3214E-10"
        ixz="0.0001041"
        iyy="0.025399"
        iyz="2.0829E-11"
        izz="0.02454" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog_asm2/meshes/LegUpLF.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog_asm2/meshes/LegUpLF.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="JLegUpLF"
    type="revolute">
    <origin
      xyz="0 -0.14 0"
      rpy="-1.5708 0 3.1416" />
    <parent
      link="ShoulderLF" />
    <child
      link="LegUpLF" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LegDownLF">
    <inertial>
      <origin
        xyz="0.16508 7.3787E-10 -0.014832"
        rpy="0 0 0" />
      <mass
        value="1.0517" />
      <inertia
        ixx="0.00049517"
        ixy="5.3453E-09"
        ixz="-3.7043E-05"
        iyy="0.016979"
        iyz="-1.2566E-11"
        izz="0.017119" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog_asm2/meshes/LegDownLF.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog_asm2/meshes/LegDownLF.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="JLegDownLF"
    type="revolute">
    <origin
      xyz="0.33 0 -0.035"
      rpy="0 0 0" />
    <parent
      link="LegUpLF" />
    <child
      link="LegDownLF" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="WheelLF">
    <inertial>
      <origin
        xyz="-1.1102E-16 5.5511E-17 0.015169"
        rpy="0 0 0" />
      <mass
        value="0.32751" />
      <inertia
        ixx="0.00051056"
        ixy="-2.283E-21"
        ixz="-8.8911E-21"
        iyy="0.00051056"
        iyz="-6.918E-22"
        izz="0.00097786" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog_asm2/meshes/WheelLF.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog_asm2/meshes/WheelLF.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="JWheelLF"
    type="revolute">
    <origin
      xyz="0.33 0 0.008"
      rpy="0 0 0" />
    <parent
      link="LegDownLF" />
    <child
      link="WheelLF" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="ShoulderRF">
    <inertial>
      <origin
        xyz="-3.9581E-08 -0.0016347 0.0009406"
        rpy="0 0 0" />
      <mass
        value="0.71324" />
      <inertia
        ixx="0.00098521"
        ixy="-3.857E-10"
        ixz="-5.2743E-10"
        iyy="0.0010271"
        iyz="-1.0977E-06"
        izz="0.0008053" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog_asm2/meshes/ShoulderRF.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog_asm2/meshes/ShoulderRF.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="JShoulderRF"
    type="revolute">
    <origin
      xyz="0.29653 -0.09 0.045"
      rpy="0 1.5708 0" />
    <parent
      link="Body" />
    <child
      link="ShoulderRF" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LegUpRF">
    <inertial>
      <origin
        xyz="0.14026 -1.4694E-09 -0.049588"
        rpy="0 0 0" />
      <mass
        value="1.8015" />
      <inertia
        ixx="0.0018561"
        ixy="2.3214E-10"
        ixz="0.0001041"
        iyy="0.025399"
        iyz="2.0829E-11"
        izz="0.02454" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog_asm2/meshes/LegUpRF.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog_asm2/meshes/LegUpRF.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="JLegUpRF"
    type="revolute">
    <origin
      xyz="0 -0.14 0"
      rpy="-1.5708 0 3.1416" />
    <parent
      link="ShoulderRF" />
    <child
      link="LegUpRF" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LegDownRF">
    <inertial>
      <origin
        xyz="0.16508 7.3787E-10 -0.014832"
        rpy="0 0 0" />
      <mass
        value="1.0517" />
      <inertia
        ixx="0.00049517"
        ixy="5.3453E-09"
        ixz="-3.7043E-05"
        iyy="0.016979"
        iyz="-1.2566E-11"
        izz="0.017119" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog_asm2/meshes/LegDownRF.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog_asm2/meshes/LegDownRF.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="JLegDownRF"
    type="revolute">
    <origin
      xyz="0.33 0 -0.035"
      rpy="0 0 0" />
    <parent
      link="LegUpRF" />
    <child
      link="LegDownRF" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="WheelRF">
    <inertial>
      <origin
        xyz="0 5.5511E-17 0.015169"
        rpy="0 0 0" />
      <mass
        value="0.32751" />
      <inertia
        ixx="0.00051056"
        ixy="-3.2136E-21"
        ixz="-8.8911E-21"
        iyy="0.00051056"
        iyz="-6.4308E-22"
        izz="0.00097786" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog_asm2/meshes/WheelRF.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog_asm2/meshes/WheelRF.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="JWheelRF"
    type="revolute">
    <origin
      xyz="0.33 0 0.008"
      rpy="0 0 0" />
    <parent
      link="LegDownRF" />
    <child
      link="WheelRF" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="ShoulderLB">
    <inertial>
      <origin
        xyz="-3.9581E-08 -0.0016347 0.0009406"
        rpy="0 0 0" />
      <mass
        value="0.71324" />
      <inertia
        ixx="0.00098521"
        ixy="-3.857E-10"
        ixz="-5.2743E-10"
        iyy="0.0010271"
        iyz="-1.0977E-06"
        izz="0.0008053" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog_asm2/meshes/ShoulderLB.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog_asm2/meshes/ShoulderLB.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="JShoulderLB"
    type="revolute">
    <origin
      xyz="-0.29653 0.09 0.045"
      rpy="3.1416 1.5708 0" />
    <parent
      link="Body" />
    <child
      link="ShoulderLB" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LegUpLB">
    <inertial>
      <origin
        xyz="0.14026 -1.4694E-09 -0.049588"
        rpy="0 0 0" />
      <mass
        value="1.8015" />
      <inertia
        ixx="0.0018561"
        ixy="2.3214E-10"
        ixz="0.0001041"
        iyy="0.025399"
        iyz="2.0829E-11"
        izz="0.02454" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog_asm2/meshes/LegUpLB.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog_asm2/meshes/LegUpLB.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="JLegUpLB"
    type="revolute">
    <origin
      xyz="0 -0.14 0"
      rpy="-1.5708 0 3.1416" />
    <parent
      link="ShoulderLB" />
    <child
      link="LegUpLB" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LegDownLB">
    <inertial>
      <origin
        xyz="0.16508 7.3787E-10 -0.014832"
        rpy="0 0 0" />
      <mass
        value="1.0517" />
      <inertia
        ixx="0.00049517"
        ixy="5.3453E-09"
        ixz="-3.7043E-05"
        iyy="0.016979"
        iyz="-1.2566E-11"
        izz="0.017119" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog_asm2/meshes/LegDownLB.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog_asm2/meshes/LegDownLB.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="JLegDownLB"
    type="revolute">
    <origin
      xyz="0.33 0 -0.035"
      rpy="0 0 0" />
    <parent
      link="LegUpLB" />
    <child
      link="LegDownLB" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="WheelLB">
    <inertial>
      <origin
        xyz="0 5.5511E-17 0.015169"
        rpy="0 0 0" />
      <mass
        value="0.32751" />
      <inertia
        ixx="0.00051056"
        ixy="-5.385E-21"
        ixz="-8.8911E-21"
        iyy="0.00051056"
        iyz="-7.2304E-22"
        izz="0.00097786" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog_asm2/meshes/WheelLB.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog_asm2/meshes/WheelLB.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="JWheelLB"
    type="revolute">
    <origin
      xyz="0.33 0 0.008"
      rpy="0 0 0" />
    <parent
      link="LegDownLB" />
    <child
      link="WheelLB" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="ShoulderRB">
    <inertial>
      <origin
        xyz="-3.9581E-08 -0.0016347 0.0009406"
        rpy="0 0 0" />
      <mass
        value="0.71324" />
      <inertia
        ixx="0.00098521"
        ixy="-3.857E-10"
        ixz="-5.2743E-10"
        iyy="0.0010271"
        iyz="-1.0977E-06"
        izz="0.0008053" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog_asm2/meshes/ShoulderRB.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog_asm2/meshes/ShoulderRB.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="JShoulderRB"
    type="revolute">
    <origin
      xyz="-0.29653 -0.09 0.045"
      rpy="3.1416 -1.5708 0" />
    <parent
      link="Body" />
    <child
      link="ShoulderRB" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LegUpRB">
    <inertial>
      <origin
        xyz="0.14026 -1.4694E-09 -0.049588"
        rpy="0 0 0" />
      <mass
        value="1.8015" />
      <inertia
        ixx="0.0018561"
        ixy="2.3214E-10"
        ixz="0.0001041"
        iyy="0.025399"
        iyz="2.0829E-11"
        izz="0.02454" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog_asm2/meshes/LegUpRB.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog_asm2/meshes/LegUpRB.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="JLegUpRB"
    type="revolute">
    <origin
      xyz="0 -0.14 0"
      rpy="-1.5708 0 3.1416" />
    <parent
      link="ShoulderRB" />
    <child
      link="LegUpRB" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LegDownRB">
    <inertial>
      <origin
        xyz="0.16508 7.3787E-10 -0.014832"
        rpy="0 0 0" />
      <mass
        value="1.0517" />
      <inertia
        ixx="0.00049517"
        ixy="5.3453E-09"
        ixz="-3.7043E-05"
        iyy="0.016979"
        iyz="-1.2566E-11"
        izz="0.017119" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog_asm2/meshes/LegDownRB.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog_asm2/meshes/LegDownRB.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="JLegDownRB"
    type="revolute">
    <origin
      xyz="0.33 0 -0.035"
      rpy="0 0 0" />
    <parent
      link="LegUpRB" />
    <child
      link="LegDownRB" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="WheelRB">
    <inertial>
      <origin
        xyz="-1.1102E-16 5.5511E-17 0.015169"
        rpy="0 0 0" />
      <mass
        value="0.32751" />
      <inertia
        ixx="0.00051056"
        ixy="-6.5223E-21"
        ixz="-8.8911E-21"
        iyy="0.00051056"
        iyz="-6.7552E-22"
        izz="0.00097786" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog_asm2/meshes/WheelRB.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog_asm2/meshes/WheelRB.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="JWheelRB"
    type="revolute">
    <origin
      xyz="0.33 0 0.008"
      rpy="0 0 0" />
    <parent
      link="LegDownRB" />
    <child
      link="WheelRB" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>